# langsmith
LANGSMITH_TRACING=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com" # Replace with your instance!
LANGSMITH_API_KEY="<langsmith_api_key>"
LANGSMITH_PROJECT="<project_name>"

OTEL_BSP_MAX_QUEUE_SIZE=10000 # default is 2048, increase if you are benchmarking a lot of data and see `Queue is full, likely spans will be dropped.` in the logs.